## `for` loops and `if/else` statements
As we will again be using `numpy` and `matplotlib`, we start by importing them

In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt

### The `for` loop
Loops are used to execute a command repeatedly. The syntax for a loop is as follows

In [9]:
for i in [0, 1, 2, 3, 4]:
    print('Hello world, the value of i is', i)

Hello world, the value of i is 0
Hello world, the value of i is 1
Hello world, the value of i is 2
Hello world, the value of i is 3
Hello world, the value of i is 4

In the code above, the variable `i` loops through the five values in the list `[0, 1, 2, 3, 4]`. The first time through, the value of `i` is equal to `0`, the second time through, its value is `1`, and so on till the last time when its value is `4`. Note the syntax of a `for` loop: At the end of the `for` statement you need to put a colon (`:`) and after that you need to indent. It doesn't matter how many spaces you indent, as long as you keep using the same number of spaces for the entire `for` loop. Jupyter Notebooks automatically indent 4 spaces, which is considered good Python style, so use that. You can have as many lines of code inside the `for` loop as you want. To end the `for` loop, simply stop indenting.

In [10]:
for x in [0, 1, 2, 3]: 
    xsquared = x ** 2
    print('x, xsquare', x, xsquared)
print('We are done with the loop')

x, xsquare 0 0
x, xsquare 1 1
x, xsquare 2 4
x, xsquare 3 9
We are done with the loop

The list of values to loop through can be anything. It doesn't even have to be numbers. The `for` loop simply goes through all the values in the list one by one:

In [11]:
for data in [20, 'mark', np.sqrt(10)]:
    print('the value of data is:', data)

the value of data is: 20
the value of data is: mark
the value of data is: 3.1622776601683795

It is, of course, rather inconvenient to have to specify a list to loop through when the list is very long. For example, if you want to do something 100 times, you don't want to type a list of values from 0 up to 100. But Python has a convenient function for that called `range`. You can loop through a `range` just like you can loop through a list. To loop 10 times, starting with the value `0`:

In [12]:
for i in range(10):
    print('the value of i is:', i)

the value of i is: 0
the value of i is: 1
the value of i is: 2
the value of i is: 3
the value of i is: 4
the value of i is: 5
the value of i is: 6
the value of i is: 7
the value of i is: 8
the value of i is: 9

A `range` can be converted to a list with the `list` function (but we will not use that option very often). You can call `range` with just one argument, in which case it will generate a range from 0 up to but not including the specified number. Note that `range(10)` produces 10 numbers from 0 up to and including 9. You can optionally give a starting value and a step, similar to the `np.arange` function.

In [13]:
print('a range with 10 values:', list(range(10)))
print('a range from 10 till 20', list(range(10, 20)))
print('a range from 10 till 20 with steps of 2:', list(range(10, 20, 2)))

a range with 10 values: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
a range from 10 till 20 [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
a range from 10 till 20 with steps of 2: [10, 12, 14, 16, 18]

Loops are very useful constructs in a programming script. Whenever you need to do a computation multiple times you should automatically think: *loop!*.

### Exercise 4a.  <a name="back4a"></a>First `for` loop
Create a list with the names of the months (as strings). Create a second list with the number of days in each month (for a regular year). Create a `for` loop that prints:

`The number of days in MONTH is XX days`

where, of course, you print the correct name of the month for `MONTH` and the correct number of days for `XX`. Use f-strings.

<a href="#ex4aanswer">Answer for Exercise 4a</a>

### The `if` statement
An `if` statement lets you perform a task only when the outcome of the `if` statement is true. For example

In [14]:
data = 4
print('starting value:', data)
if data < 6:
    print('changing data in the first if-statement')
    data = data + 2
print('value after the first if-statement:', data)
if data > 20:
    print('changing data in the second if-statement')
    data = 200
print('value after the second if-statement:', data)  # data hasn't changed as data is not larger than 20

starting value: 4
changing data in the first if-statement
value after the first if-statement: 6
value after the second if-statement: 6

Note the syntax of the `if` statement. It starts with `if` followed by a statement that is either `True` or `False` and then a colon. After the colon, you need to indent and the entire indented code block (in this case 2 lines of code) is executed if the statement is `True`. The `if` statement is completed when you stop indenting. Recall from Notebook 2 that you can use larger than `>`, larger than or equal `>=`, equal `==`, smaller than or equal `<=`, smaller than `<` or not equal `!=`.

### The `if`/`else` statement
The `if` statement may be followed by an `else` statement, which is executed when the condition after `if` is `False`. For example

In [15]:
a = 4
if a < 3:
    print('a is smaller than 3')
else:
    print('a is not smaller than 3')

a is not smaller than 3

You can even extend the `else` by adding one or more conditions with the `elif` command which is short for 'else if'

In [16]:
a = 4
if a < 4:
    print('a is smaller than 4')
elif a > 4:
    print('a is larger than 4')
else:
    print('a is equal to 4')

a is equal to 4

### Exercise 4b <a name="back4b"></a>Load and loop through temperature data
Load the temperature data for Holland from the data file (`holland_temperature.dat`). Loop through all monthly temperatures and print a message that includes the month number and states whether the monthly average temperature is above or below 10 degrees

<a href="#ex4banswer">Answer for Exercise 4b</a>

### Nested loops
It is also possible to have loops inside loops. These are called nested loops. For example, consider the array `data` with 3 rows and 4 columns shown below. We want to compute the sum of the values in each row (so we sum the columns) and we are going to do this using a double loop. First, we loop through each row and make a variable called `rowtotal` and initialize. Next, for each row inside the loop, we start another loop that goes through all the columns and adds the value to the array `rowtotal` for that row.

In [17]:
data = np.array([[1, 2, 3, 5],
                 [4, 8, 6, 4],
                 [3, 5, 4, 6]])
for irow in range(3):
    rowtotal=0
    for jcol in range(4):
        rowtotal += data[irow, jcol]
        #longer alternative:
        #rowtotal = rowtotal + data[irow, jcol]
    print(rowtotal)

11
22
18

After running the code above, first make sure that the answer is correct. Next, note that it is important to set the values of `rowtotal` to 0 before starting the second loop, as we add to these values to compute the sum of each row. In the code, we use two loops, so we indented twice. 

`numpy` has a `sum` function that can compute the sum of an entire array, or the sum along one of the axes (for example along the rows or columns) by specifying the `axis` keyword.

In [18]:
print('sum of entire array:', np.sum(data))
print('sum the rows (axis=0):', np.sum(data, axis=0))
print('sum the columns (axis=1):', np.sum(data, axis=1))

sum of entire array: 51
sum the rows (axis=0): [ 8 15 13 15]
sum the columns (axis=1): [11 22 18]

### Exercise 4c, Fibonacci

For this exercise no answer will be provided. Include your code segment with an explenatory paragraph to your protocol.

The Fibonacci series is a series of numbers formed by the addition of the preceeding two numbers in the series. Implement the Fibonacci series in Python using a for loop. Print the first 10 elements of the series (Hint: the first to elements are 0 and 1).

Further, count the number of elements in the fibonacci series between 0 and 10000 but only include an element in the count if it is an even number.

If you are interested in plant and the Fibonacci series I can recommend this [Youtube Video](https://www.youtube.com/watch?v=ahXIMUkSXX0).

### Answers to the exercises

<a name="ex4aanswer">Answer to Exercise 4a</a>

In [7]:
months = ['January', 'February', 'March', 'April',\
          'May','June', 'July', 'August', 'September',\
          'October', 'November', 'December']
days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
for i in range(12):
    print(f'The number of days in {months[i]} is {days[i]}')

The number of days in January is 31
The number of days in February is 28
The number of days in March is 31
The number of days in April is 30
The number of days in May is 31
The number of days in June is 30
The number of days in July is 31
The number of days in August is 31
The number of days in September is 30
The number of days in October is 31
The number of days in November is 30
The number of days in December is 31

<a href="#back4a">Back to Exercise 4a</a>

<a name="ex4banswer">Answer to Exercise 4b</a>

In [8]:
temperature = np.loadtxt('data_intro/holland_temperature.dat')
for i in range(len(temperature)):
    if temperature[i] < 10:
        print('average monthly temperature in month ', i + 1, ' is less than 10 degrees')
    else:
        print('average monthly temperature in month ', i + 1, ' is more than 10 degrees')

average monthly temperature in month  1  is less than 10 degrees
average monthly temperature in month  2  is less than 10 degrees
average monthly temperature in month  3  is less than 10 degrees
average monthly temperature in month  4  is less than 10 degrees
average monthly temperature in month  5  is more than 10 degrees
average monthly temperature in month  6  is more than 10 degrees
average monthly temperature in month  7  is more than 10 degrees
average monthly temperature in month  8  is more than 10 degrees
average monthly temperature in month  9  is more than 10 degrees
average monthly temperature in month  10  is more than 10 degrees
average monthly temperature in month  11  is less than 10 degrees
average monthly temperature in month  12  is less than 10 degrees

<a href="#back4b">Back to Exercise 4b</a>